/* ----RESET/BASIC STYLING---- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
    font-style: italic;

    -ms-overflow-style: none; /*IE and Edge */
    scrollbar-width: none; /*Firefox*/
}
.trello{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 28px;
    background-color: rgb(172, 250, 172);
    border-radius: 3px;
}
*::-webkit-scrollbar{
    display: none;
}
.board{
    width: 100%;
    height: 100vh;
    overflow: scroll;

    background-image:url(./milad-fakurian-iG3PgPB7568-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
/* ----FORM---- */
#todo-form{
    padding: 32px 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
#todo-form input{
    padding: 12px;
    margin-right: 12px;
    width: 225px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    /* background: white; */
    font-size: 14px;
    outline: none;
    background-color: rgb(172, 250, 172);

}
#todo-form button{
    padding: 12px 32px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #ffff;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(172, 250, 172);
}
/*----BOARD----*/
.lanes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 24px 32px;
    overflow: scroll;
    height: 50%;
}
.heading{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}
.swim-lane{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 12px;
    border-radius: 3px;
    width: 225px;
    min-height: 120px;
    flex-shrink: 0;
    background-color: rgb(172, 250, 172);
}
.task{
    background: white;
    color: black;
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 12px;
    border-radius: 3px;
    font-size: 16px;
    cursor: move;
}
.is-dragging{
    scale: 1.05;
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: #fff;
}
